
# Invoke this with `pip install -r pip-requirements.txt`
towncrier
howdoi

jupyterlab_vim

#TODO
apple-calendar-integration

events     # Natural events style programming
watchdog   # Watch the file system
natsort    # https://github.com/SethMMorton/natsort
           # Natural sorting:  good for units or handling padding

gensim     # https://radimrehurek.com/gensim/index.html   NLP

usaddress  # https://github.com/datamade/usaddress
pint       # https://pint.readthedocs.io/en/0.7.2/        Units
arrow      # https://github.com/crsmithdev/arrow          Time handling
pdftables  # https://github.com/vnaydionov/pdftables      PDF parsing
datacleaner # https://github.com/rhiever/datacleaner      Pandas advanced handling
parserator  # https://github.com/datamade/parserator      Probabilistic parsing
Faker       # https://github.com/joke2k/faker             Generate fake data

hypothesis  # http://hypothesis.works                     Testing framework
airflow     #                                             Like Dask
luigi       # http://luigi.readthedocs.io/en/stable/      Like Dask
undebt      #                                             Code refactoring tool using pyparsing
pre-commit  #                                             Pre-commit hooks http://pre-commit.com
pynini      #                                             State machine parsing https://www.oreilly.com/ideas/how-to-get-superior-text-processing-in-python-with-pynini


elizabeth   # https://github.com/lk-geimfari/elizabeth    Generate fake data for testing
validus     # https://shopnilsazal.github.io/validus/usage.html#basic-validation     Validation methods.  Very NICE!
pudb        # https://documen.tician.de/pudb/index.html   A better debugger. Integrates with pytest
maya        # https://github.com/kennethreitz/maya        Datetimes for humansD   A better debugger. Integrates with pytest
magic-wormhole # https://github.com/warner/magic-wormhole   File transfer
daiquiri    # https://julien.danjou.info/blog/python-logging-easy-with-daiquiri Improved logger
loguru      # https://github.com/Delgan/loguru    Very simple logger
sultan      # https://sultan.readthedocs.io/en/latest/sultan-examples.html Shell scripting
fs          # https://www.pyfilesystem.org/page/installing/    File systems (zip, tar, hd, etc.)
lolviz      # https://github.com/parrt/lolviz               Visualizing python datastructures.
prettyprinter  # https://github.com/tommikaikkonen/prettyprinter    PrettyPrinter for python
sshuttle    # http://sshuttle.readthedocs.io/en/stable/usage.html    SSH as vpn
background  # https://github.com/kennethreitz/background    Run things in background
python-switch # https://github.com/mikeckennedy/python-switch.git   Switch in python
rise    # https://damianavila.github.io/RISE    Convert ipython nb to slideshow
upstream  # https://github.com/prkumar/uplink   Requests-like URL fetcher
gooey     # https://github.com/chriskiehl/Gooey Insta-gui
requests-html #https://github.com/kennethreitz/requests-html.git  Easier html parser
yapf        # https://github.com/google/yapf.git   Pretty-formatter
pythonscope # Automatically generate unit tests
notifiers   # http://notifiers.readthedocs.io/en/latest/index.html Interface to slack, twilio, ...
wxpython    # https://github.com/wxWidgets/Phoenix   GUI
pygal       # http://pygal.org/en/stable/            Python charting
gain        # https://github.com/gaojiuli/gain       web crawling
pyside2     # https://wiki.qt.io/Qt_for_Python      GUI
wily        # https://github.com/tonybaloney/wily    Code analysis
prophet     # https://github.com/facebook/prophet.git    Time series forecasting
pulp        # https://pythonhosted.org/PuLP/#           Optimization package
internetarchive   # https://pypi.org/project/internetarchive/      Download from
internate arkix
handcalcs   # https://github.com/connorferster/handcalcs            Cool Jupyter notebook renderer
doitlive    # https://doitlive.readthedocs.io/en/latest             Do a live session automatically

pyinstrument # Now the best profiler 2021-08-17
